:root {
  --color-main-text: #222;
  --color-main-background: #fff;
  --color-main-background-translucent: rgba(255, 255, 255, 1);
  --color-background-hover: #f5f5f5;
  --color-background-dark: #ededed;
  --color-background-darker: #dbdbdb;
  --color-placeholder-light: #e6e6e6;
  --color-placeholder-dark: #ccc;
  --color-primary: #0082c9;
  --color-primary-light: #e6f3fa;
  --color-primary-text: #fff;
  --color-primary-text-dark: #ededed;
  --color-primary-element: #0082c9;
  --color-primary-element-light: #17adff;
  --color-error: #e9322d;
  --color-warning: #eca700;
  --color-success: #46ba61;
  --color-text-maxcontrast: #767676;
  --color-text-light: #222;
  --color-text-lighter: #767676;
  --color-loading-light: #ccc;
  --color-loading-dark: #444;
  --color-box-shadow: rgba(77, 77, 77, 0.5);
  --color-border: #cecece;
  --color-border-dark: #dbdbdb;
}

[dark]:root {
  --color-main-text: #cfcfcf;
  --color-main-background: #222831;
  --color-primary: #016ca5;
  --color-primary-element-light: #1283c0;
  --color-primary-text: #dddddd;
  --color-text-lighter: #8d8d8d;
  --color-box-shadow: #afafaf80;
  --color-background-hover: #494848;
  --color-border: #474747;
  --color-primary-light: #616568;
}
